* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  /* border: 1px solid grey; */
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.5;
  background-color: black;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 3px;
  color: white;
}
p {
  font-size: 3rem;
  color: white;
}

h1 {
  font-size: 10rem;
  margin: 0 3%;
}

h2 {
  font-size: 8.5rem;
  font-weight: normal;
}

h3 {
  font-size: 6.5rem;
}

h4 {
  font-size: 5.5rem;
  color: darkgreen;
}

header,
footer {
  width: 100%;
  background-color: lightskyblue;
  padding: 2% 0;
}

a {
  text-decoration: none;
  letter-spacing: 3px;
  padding: 0 3%;
  color: black;
}

header nav {
  width: 100%;
  font-size: 3.5rem;
  display: flex;
  flex-direction: column;
}

.links {
  width: 33%;
  margin: 0 10%;
  display: flex;
}

.links a:hover {
  color: white;
  background-color: black;
}

#about {
  width: 100%;
  margin: 2% 0;
  display: flex;
  align-items: center;
  background-color: royalblue;
  color: white;
}

.main-image {
  width: 90%;
  background-image: url("https://picsum.photos/200/300");
  background-size: cover;
  height: 80vh;
}

.texts-box {
  width: 100%;
  margin: 0 10%;
  display: flex;
  flex-direction: column;
}

#about button {
  width: 40%;
  font-size: 3.5rem;
  margin: 3% 0;
  padding: 2% 3%;
  letter-spacing: 2.5px;
}
button:hover {
  background-color: black;
  color: white;
}

#gallery {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.box {
  width: 25%;
  margin: 3% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box img {
  width: 80%;
  margin: 10%;
}

.text {
  text-align: center;
}

#contact {
  color: black;
  width: 100%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info button {
  width: 20%;
  font-size: 2.5rem;
  padding: 1%;
  letter-spacing: 1.5px;
  font-size: 3rem;
  margin-top: 2%;
}

@media (max-width: 800px) {
  h1 {
    font-size: 7.5rem;
    text-align: center;
  }
  h2 {
    font-size: 5.5rem;
    text-align: center;
    margin: 2% 0;
  }
  h3{
    font-size:4.5rem;
  }
  p {
    font-size: 2.5rem;
  }
  .links {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .links a {
    font-size: 3rem;
    padding: 2% 5%;
  }
  #about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-box {
    width:100%
    align-items: center;
  }
  .main-image {
    height: 60vh;
  }
  #about button {
    margin: 2% 30%;
  }
  .texts-box p {
    width: 90%;
    margin: 0 5%;
  }
  .box{
    width:50%;
  }
  .box img{
    width:90%;
    margin:0 auto;
  }
  .contact-info button{
    width:30%;
  }
  footer{
    padding-bottom: 7%;
  }
}
